{
  "openapi": "3.1.0",
  "info": {
    "title": "从零开始的 AI 工程（AI Engineering from Scratch）公开资源",
    "version": "1.2.0",
    "description": "《从零开始的 AI 工程（AI Engineering from Scratch）》课程公开提供的只读、机器可读资源。GitHub 仓库中的课程源文件仍是权威版本。"
  },
  "servers": [
    {
      "url": "https://aiengineeringfromscratch.com"
    }
  ],
  "paths": {
    "/api/v1/markdown": {
      "description": "公开导航页面表示接口（Representation API）的第 1 版。/api/markdown 保留为兼容别名。新增内容不改变 v1；如果页面表示发生破坏性变更，必须使用新的版本化路径。仅支持 GET 和 HEAD。此处理程序未声明或强制执行按客户端划分的请求频率配额。",
      "parameters": [
        {
          "name": "path",
          "in": "query",
          "description": "导航路径：/、/about、/catalog、/glossary、/path、/roadmap、/developer、/docs、/contact 或 /privacy。未知路径返回 404。发送 Accept: text/markdown 可请求课程索引；text/html 选择导航页面。接口遵循 Accept 中的质量权重（Quality Value）。",
          "schema": { "type": "string", "default": "/" }
        }
      ],
      "get": {
        "summary": "以 HTML 或 Markdown 读取公开导航页面",
        "operationId": "getPublicRepresentationV1",
        "responses": {
          "200": {
            "description": "选定的表示格式（Representation）；Markdown 包含课程索引和所请求路由的上下文",
            "headers": {
              "X-API-Version": { "$ref": "#/components/headers/ApiVersion" },
              "Vary": { "schema": { "type": "string", "const": "Accept, Accept-Encoding" } }
            },
            "content": {
              "text/html": { "schema": { "type": "string" } },
              "text/markdown": { "schema": { "type": "string" } }
            }
          },
          "404": {
            "description": "未知路径。如果客户端接受 HTML 或 Markdown，则提供可继续访问的链接；否则返回 RFC 9457 问题详情（Problem Details）。错误响应不缓存。",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } },
            "content": {
              "text/html": { "schema": { "type": "string" } },
              "text/markdown": { "schema": { "type": "string" } },
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          },
          "405": { "$ref": "#/components/responses/ReadOnlyMethod" },
          "406": { "$ref": "#/components/responses/UnsupportedRepresentation" }
        }
      },
      "head": {
        "summary": "读取表示元数据（Representation Metadata），不返回响应体",
        "operationId": "headPublicRepresentationV1",
        "responses": {
          "200": {
            "description": "响应头和状态码与 GET 相同，但不含响应体",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } }
          },
          "404": {
            "description": "未知路径，不含响应体",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } }
          },
          "406": {
            "description": "客户端既不接受 HTML，也不接受 Markdown；不含响应体",
            "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "读取面向智能体（Agent）的课程地图",
        "operationId": "getAgentIndex",
        "responses": {
          "200": {
            "description": "Markdown 格式的课程与资源索引",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "读取规范公开地址（Canonical URL）",
        "operationId": "getSitemap",
        "responses": {
          "200": {
            "description": "XML 站点地图（Sitemap）",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/lesson": {
      "parameters": [
        {
          "name": "path",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^(phases|certifications)/"
          },
          "description": "相对于仓库根目录的课程路径，例如 phases/01-math-foundations/01-linear-algebra-intuition"
        }
      ],
      "get": {
        "summary": "打开可供爬虫抓取的已渲染课程页面",
        "operationId": "getLesson",
        "responses": {
          "200": {
            "description": "已渲染的课程页面，包含该课的元数据（Metadata）和可见内容",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "课程路径缺失、无效或不存在",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "不允许使用该请求方法；请使用 GET 或 HEAD"
          },
          "500": {
            "description": "无法组装课程页面"
          }
        }
      },
      "head": {
        "summary": "读取课程响应的元数据（Metadata）",
        "operationId": "headLesson",
        "responses": {
          "200": {
            "description": "课程存在"
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "课程路径缺失、无效或不存在"
          },
          "405": {
            "description": "不允许使用该请求方法；请使用 GET 或 HEAD"
          },
          "500": {
            "description": "无法组装课程页面"
          }
        }
      }
    },
    "/certification": {
      "parameters": [
        {
          "name": "id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9._-]*$"
          },
          "description": "认证学习路径标识符（Identifier），例如 claude-ccao-f"
        }
      ],
      "get": {
        "summary": "打开可供爬虫抓取的认证学习路径页面",
        "operationId": "getCertification",
        "responses": {
          "200": {
            "description": "已渲染的认证页面，包含该学习路径的元数据（Metadata）和可见内容",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "认证学习路径 ID 缺失、无效或不存在",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "不允许使用该请求方法；请使用 GET 或 HEAD"
          },
          "500": {
            "description": "无法组装认证页面"
          }
        }
      },
      "head": {
        "summary": "读取认证响应的元数据（Metadata）",
        "operationId": "headCertification",
        "responses": {
          "200": {
            "description": "认证学习路径存在"
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "404": {
            "description": "认证学习路径 ID 缺失、无效或不存在"
          },
          "405": {
            "description": "不允许使用该请求方法；请使用 GET 或 HEAD"
          },
          "500": {
            "description": "无法组装认证页面"
          }
        }
      }
    },
    "/lesson.html": {
      "parameters": [
        {
          "name": "path",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "兼容重定向（Compatibility Redirect）中保留的仓库相对课程路径"
        }
      ],
      "get": {
        "summary": "将旧版课程 URL 重定向到 /lesson",
        "operationId": "redirectLegacyLesson",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "永久重定向到 /lesson 以保持兼容，并保留查询字符串（Query String）",
            "headers": {
              "Location": {
                "description": "不带扩展名的课程规范地址（Canonical URL）",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "将旧版课程的 HEAD 请求重定向到 /lesson",
        "operationId": "redirectLegacyLessonHead",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "永久重定向到 /lesson 以保持兼容，并保留查询字符串（Query String）",
            "headers": {
              "Location": {
                "description": "不带扩展名的课程规范地址（Canonical URL）",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/certification.html": {
      "parameters": [
        {
          "name": "id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "兼容重定向（Compatibility Redirect）中保留的认证学习路径 ID"
        }
      ],
      "get": {
        "summary": "将旧版认证 URL 重定向到 /certification",
        "operationId": "redirectLegacyCertification",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "永久重定向到 /certification 以保持兼容，并保留查询字符串（Query String）",
            "headers": {
              "Location": {
                "description": "不带扩展名的认证规范地址（Canonical URL）",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "将旧版认证的 HEAD 请求重定向到 /certification",
        "operationId": "redirectLegacyCertificationHead",
        "deprecated": true,
        "responses": {
          "308": {
            "description": "永久重定向到 /certification 以保持兼容，并保留查询字符串（Query String）",
            "headers": {
              "Location": {
                "description": "不带扩展名的认证规范地址（Canonical URL）",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "ApiVersion": {
        "description": "公开表示接口（Representation API）的主版本号",
        "schema": { "type": "string", "const": "1" }
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 问题详情（Problem Details），带有稳定的 code 扩展字段。status 与 HTTP 状态码一致；about:blank 使用标准 HTTP 原因短语（Reason Phrase）作为 title。",
        "required": ["type", "title", "status", "code", "detail"],
        "properties": {
          "type": { "type": "string", "const": "about:blank" },
          "title": { "type": "string" },
          "status": { "type": "integer", "minimum": 400, "maximum": 599 },
          "code": { "type": "string", "enum": ["resource_not_found", "method_not_allowed", "representation_not_supported"] },
          "detail": { "type": "string" }
        }
      }
    },
    "responses": {
      "ReadOnlyMethod": {
        "description": "不允许使用该请求方法；请使用 GET 或 HEAD。错误响应不缓存。",
        "headers": {
          "Allow": { "schema": { "type": "string", "const": "GET, HEAD" } },
          "X-API-Version": { "$ref": "#/components/headers/ApiVersion" }
        },
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
        }
      },
      "UnsupportedRepresentation": {
        "description": "请请求 text/html 或 text/markdown 格式。错误响应不缓存。",
        "headers": { "X-API-Version": { "$ref": "#/components/headers/ApiVersion" } },
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
        }
      },
      "PermanentRedirect": {
        "description": "永久重定向到规范公开地址（Canonical URL）",
        "headers": {
          "Location": {
            "description": "规范目标地址（Canonical URL）",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
